footer.bg-dark.text-white.text-center.text-lg-start.mt-auto
  section.d-flex.justify-content-center.justify-content-lg-between.p-4.border-bottom.border-secondary
    .me-5.d-none.d-lg-block
      span Get connected with us on social networks:
    div
      a.me-4.text-white(href='#')
        i.fab.fa-facebook-f
      a.me-4.text-white(href='#')
        i.fab.fa-twitter
      a.me-4.text-white(href='#')
        i.fab.fa-google
      a.me-4.text-white(href='#')
        i.fab.fa-instagram
      a.me-4.text-white(href='#')
        i.fab.fa-linkedin
      a.me-4.text-white(href='#')
        i.fab.fa-github
  // Links
  section
    .container.text-center.text-md-start.mt-5
      .row.mt-3
        // Company info
        .col-md-3.col-lg-4.col-xl-3.mx-auto.mb-4
          h6.text-uppercase.fw-bold.mb-4
            i.fas.fa-gem.me-3
            | Mayondo Wood and Furniture Ltd
          p For all your wood and furniture products around the city
        // Products
        .col-md-2.col-lg-2.col-xl-2.mx-auto.mb-4
          h6.text-uppercase.fw-bold.mb-4 Products
          p
            a.text-white.text-decoration-none(href='#') Chairs
          p
            a.text-white.text-decoration-none(href='#') Tables
          p
            a.text-white.text-decoration-none(href='#') Cabinets
          p
            a.text-white.text-decoration-none(href='#') Shelves
        // Useful links
        .col-md-3.col-lg-2.col-xl-2.mx-auto.mb-4
          h6.text-uppercase.fw-bold.mb-4 Useful links
          p
            a.text-white.text-decoration-none(href='#') Pricing
          p
            a.text-white.text-decoration-none(href='#') Orders
          p
            a.text-white.text-decoration-none(href='#') Help
          p
            a.text-white.text-decoration-none(href='#') Settings
        // Contact
        .col-md-4.col-lg-3.col-xl-3.mx-auto.mb-md-0.mb-4
          h6.text-uppercase.fw-bold.mb-4 Contact
          p
            i.fas.fa-home.me-3
            |  City Center, MW 12345
          p
            i.fas.fa-envelope.me-3
            |  info@mwf.com
          p
            i.fas.fa-phone.me-3
            |  +256 700 123456
          p
            i.fas.fa-print.me-3
            |  +256 701 234567
  // Copyright
  .text-center.p-4.border-top.border-secondary
    | &copy; 2025 Copyright:
    a.text-white.fw-bold.text-decoration-none(href='https://allanmitanda.com/') allanmitanda.com
